.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  color: var(--text-primary-color);
}

.total_block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total {
  display: flex;
  align-items: center;
  gap: 8px;
}

.total_icon {
  width: 36px;
  height: 36px;
}
