.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 1280px;
  margin: 0 auto;
  padding: 40px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.link {
  color: var(--colors-interface-accent);
  text-decoration: none;
}
