.wrapper {
  display: flex;
  gap: 40px;
  width: 1280px;
  margin: 0 auto;
  padding: 40px 0;
}

.navigation {
  width: 300px;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link {
  display: block;
  padding: 16px;
  color: var(--text-inactive-color);
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.active_link {
  color: var(--text-primary-color);
}
